extends layout

block content
  #container
    h1= title
    .mosaico-wrapper(style='border: 1px solid red; padding: 10px;')
      .mosaico-container(style='display: flex; justify-content: center; align-items: center; height: 100vh;')
        .card(style='width: 20%; margin-bottom: 20px; color: black;')
          img.card-img-top(src=`/images/Baraja/${carta}`, alt="Carta")
    .buttons(style='display: flex; justify-content: center; margin-top: 20px;')
      a.btn.btn-primary(href='/image') Volver a la Baraja
